<% if current_user %>
  <h2>Hello, <%= @user.name %></h2>
  <p>Username: <%= @user.username %></p>
<% else %>
  <h2><%= @user.username %></h2>
<% end %>
  <p>About: <%= @user.about %></p>

<% if session[:user_id] == @user.id %>
  <%= link_to "Delete Account", user_path(@user.id), method: :delete %>
<% end %>

<br>
<%= render :partial => "entries/note", locals: { user: @user } %>